body {
	font-size: 16px;
	color: #fff;
	background-color: #5cd6d6;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header_nav {
	background-color: #ffcc00;
	border-radius: 0;
	
}
.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*restaurant name*/
	font-family: "Helvetica", sans-serif;
	color: #4d79ff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #4d79ff;
	font-weight: bold;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
	text-decoration: none;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon bar { /*border of the button - where we want it (1st class) + button and button */
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle { /*used clear to move button and avoid header collapsing (yellow) */
	clear: both;
	margin-top: -30px; /*make yellow part smaller while button is visible*/
}
/*END HEADER*/



/*HOME PAGE*/
h2 {
	color: #4d79ff;
	font-weight: bold;
}

#chicken, #beef, #sushi {
	position: relative;
	height: 1000px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	background-color: #ffcc00;
}

#home-tiles a:hover {
	text-decoration: none;
}

#chicken h3, #beef h3, #sushi h3 {
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	color: #4d79ff;
}

/*END HOME PAGE*/


/******small devices******/
@media (min-width: 768px) and (max-width: 991px) {

	#chicken, #beef, #sushi {
		width: 420px;
		margin: 0 auto 15px auto;
	}
}

/******xs devices******/
@media (max-width: 767px) {
	
	/*header*/
	.navbar-brand h1 { /*restaurant name*/
		padding-top: 10px;
		font-size: 5vw; /*vw - viewport width - 1vw = 1% of viewport width*/
	}
	/* end header*/


	/*home page*/

	#chicken, #beef, #sushi {
		width: 360px;
		margin: 0 auto 15px auto;
	}

}

